/********************
 * Tooltip Styling
 ********************/

div.d3plus_tooltip_container {
  padding: 6px;
}

div.d3plus_tooltip,
div.d3plus_tooltip_arrow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

div.d3plus_tooltip_body {
  padding-right: 6px;
}

div.d3plus_tooltip_small div.d3plus_tooltip_title {
  font-size: 16px;
  line-height: 17px;
  padding: 3px;
}

div.d3plus_tooltip_large div.d3plus_tooltip_title {
  font-size: 18px;
  line-height: 20px;
  padding: 3px 6px;
}

div.d3plus_tooltip_icon {
  margin: 0px 3px 3px 0px;
}

div.d3plus_tooltip_close {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  height: 18px;
  line-height: 14px;
  right: 16px;
  text-align: center;
  top: -10px;
  width: 18px;
  z-index: 10;
}

div.d3plus_tooltip_close:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

div.d3plus_tooltip_arrow {
  bottom: -5px;
  height: 10px;
  left: 50%;
  margin-left: -5px;
  width: 10px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
}

div.d3plus_tooltip_description {
  font-size: 12px;
  padding: 6px;
}

div.d3plus_tooltip_data_container {
  overflow-y: auto;
  z-index: -1;
}

div.d3plus_tooltip_data_title {
  font-size: 12px;
  font-weight: bold;
  padding: 6px 3px 0px 3px;
}

div.d3plus_tooltip_data_seperator {
  background-color: #ddd;
  display: block;
  height: 1px;
  margin: 0px 3px;
}

div.d3plus_tooltip_data_block {
  font-size: 12px;
  padding: 3px 6px;
  position: relative;
}

div.d3plus_tooltip_data_name {
  display: inline-block;
}

div.d3plus_tooltip_data_value {
  display: block;
  position: absolute;
  text-align: right;
  top: 3px;
}

div.d3plus_tooltip_data_help {
  background-color: #ccc;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 8px;
  font-weight: bold;
  height: 10px;
  margin: 3px 0px 0px 3px;
  padding-right: 1px;
  text-align: center;
  width: 10px;
  vertical-align: top;
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
}

div.d3plus_tooltip_data_desc {
  color: #888;
  overflow: hidden;
  -webkit-transition: height 0.5s;
          transition: height 0.5s;
  width: 85%;
}

div.d3plus_tooltip_footer {
  font-size: 10px;
  position: relative;
  text-align: center;
}

div.d3plus_tooltip_footer a {
  text-decoration: none;
}

div.d3plus_tooltip_footer a:hover {
  text-decoration: underline;
}

div.d3plus_tooltip_html {
  display: inline-block;
  vertical-align: top;
  overflow-y: auto;
  padding: 0px 12px;
  position: absolute;
}

/********************
 * Zoom Controls
 ********************/

#zoom_controls {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 50;
}

#zoom_in, #zoom_out, #zoom_reset {
  background-color: #ffffff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  color: #333333;
  display: block;
  height: 18px;
  margin-bottom: 5px;
  opacity: 0.75;
  text-align: center;
  width: 18px;
  -webkit-text-size-adjust: none;
       -webkit-user-select: none;
          -moz-user-select: none;
}

#zoom_in:hover, #zoom_out:hover, #zoom_reset:hover {
  opacity: 1;
}

#zoom_in {
  cursor: pointer;
  font: normal 18px/20px Arial, Helvetica, sans-serif;
}

#zoom_out {
  cursor: pointer;
  font: normal 22px/16px Tahoma, Verdana, sans-serif;
}

#zoom_reset {
  cursor: pointer;
  font: bold 15px/19px Arial, Helvetica, sans-serif;
}
