svg {
  position: absolute;
  z-index: 10;
}

div#map {
  position: absolute;
  -webkit-transition: height 0.6s, margin-left 0.6s, margin-top 0.6s, width 0.6s;
          transition: height 0.6s, margin-left 0.6s, margin-top 0.6s, width 0.6s;
  z-index: 11;
}

svg#gmap_overlay {
  height: 20000px;
  left: -10000px;
  position: absolute;
  top: -10000px;
  width: 20000px;
}

div#d3plus_loader {
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 9999;
}

div#d3plus_loader_text {
  color: #888;
  font-size: 30px;
  margin-top: -15px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

svg#scale {
  z-index: 12;
}

/********************
 * Tooltip Styling
 ********************/

div.d3plus_tooltip {
  color: #333;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: lighter;
  position: absolute;
}

div.d3plus_tooltip_container {
  background-color: #fff;
  padding: 6px;
}

div.d3plus_tooltip,
div.d3plus_tooltip_arrow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

div.d3plus_tooltip_curtain {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
  z-index: 499;
}

div.d3plus_tooltip_body {
  display: inline-block;
  padding-right: 6px;
  z-index: 1;
}

div.d3plus_tooltip_header {
  position: relative;
  z-index: 1;
}

div.d3plus_tooltip_header > div {
  display: inline-block;
  z-index: 1;
}

div.d3plus_tooltip_small {
  z-index: 2000;
}

div.d3plus_tooltip_large {
  z-index: 500;
}

div.d3plus_tooltip_small div.d3plus_tooltip_title {
  font-size: 16px;
  line-height: 17px;
  padding: 3px 6px;
}

div.d3plus_tooltip_large div.d3plus_tooltip_title {
  font-size: 18px;
  line-height: 20px;
  padding: 3px 6px;
}

div.d3plus_tooltip_icon {
  background-position: 50%;
  background-size: 100%;
  margin: 0px 3px 3px 0px;
  z-index: 1;
}

div.d3plus_tooltip_small div.d3plus_tooltip_icon {
  height: 22px;
  width: 22px;
}

div.d3plus_tooltip_large div.d3plus_tooltip_icon {
  height: 50px;
  width: 50px;
}

div.d3plus_tooltip_title {
  vertical-align: top;
}

div.d3plus_tooltip_close {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 20px;
  height: 18px;
  line-height: 14px;
  position: absolute;
  right: 16px;
  text-align: center;
  top: -10px;
  width: 18px;
  z-index: 10;
}

div.d3plus_tooltip_close:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

div.d3plus_tooltip_arrow {
  background-color: #fff;
  bottom: -5px;
  height: 10px;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 10px;
  -webkit-transform: rotate(45deg); 
     -moz-transform: rotate(45deg); 
      -ms-transform: rotate(45deg); 
          transform: rotate(45deg); 
  z-index: -1;
}

div.d3plus_tooltip_description {
  font-size: 12px;
  padding: 6px;
}

div.d3plus_tooltip_data_container {
  overflow-y: auto;
  z-index: -1;
}

div.d3plus_tooltip_data_title {
  color: #333;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 3px 0px 3px;
}

div.d3plus_tooltip_data_seperator {
  background-color: #ddd;
  display: block;
  height: 1px;
  margin: 0px 3px;
}

div.d3plus_tooltip_data_block {
  color: #333;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 3px 6px;
  position: relative;
}

div.d3plus_tooltip_data_name {
  display: inline-block;
}

div.d3plus_tooltip_data_value {
  display: block;
  position: absolute;
  right: 6px;
  text-align: right;
  top: 3px;
}

div.d3plus_tooltip_data_help {
  background-color: #ccc;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 8px;
  font-weight: bold;
  height: 10px;
  margin: 3px 0px 0px 3px;
  padding-right: 1px;
  text-align: center;
  width: 10px;
  vertical-align: top;
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
}

div.d3plus_tooltip_data_desc {
  color: #888;
  overflow: hidden;
  -webkit-transition: height 0.5s;
          transition: height 0.5s;
}

div.d3plus_tooltip_footer {
  color: #333;
  font-size: 10px;
  position: relative;
  text-align: center;
}

div.d3plus_tooltip_footer a {
  color: #333;
  text-decoration: none;
}

div.d3plus_tooltip_footer a:hover {
  color: #000;
  text-decoration: underline;
}

div.d3plus_tooltip_html {
  display: inline-block;
  vertical-align: top;
  overflow-y: auto;
  padding: 0px 12px;
  position: absolute;
}

/********************
 * Network Tooltip
 ********************/

div.d3plus_network_connection {
  opacity: 0.75;
  padding: 3px 6px;
}

div.d3plus_network_connection:hover {
  cursor: pointer;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  opacity: 1;
}

div.d3plus_network_connection_node {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  height: 10px;
  margin-bottom: -2px;
  margin-right: 3px;
  width: 10px;
}

div.d3plus_network_connection_name {
  color: "#333";
  display: inline;
}

/********************
 * Zoom Controls
 ********************/

#zoom_controls {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 50;
}

#zoom_in, #zoom_out, #zoom_reset {
  background-color: #ffffff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  color: #333333;
  display: block;
  height: 18px;
  margin-bottom: 5px;
  opacity: 0.75;
  text-align: center;
  width: 18px;
  -webkit-text-size-adjust: none;
       -webkit-user-select: none;
          -moz-user-select: none;
}

#zoom_in:hover, #zoom_out:hover, #zoom_reset:hover {
  opacity: 1;
}

#zoom_in {
  cursor: pointer;
  font: normal 18px/20px Arial, Helvetica, sans-serif;
}

#zoom_out {
  cursor: pointer;
  font: normal 22px/16px Tahoma, Verdana, sans-serif;
}

#zoom_reset {
  cursor: pointer;
  font: bold 15px/19px Arial, Helvetica, sans-serif;
}

.tile_toggle {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  color: #333333;
  display: inline-block !important;
  height: 18px;
  margin-bottom: 5px;
  opacity: 0.75;
  padding: 0px 5px;
  text-align: center;
  -webkit-text-size-adjust: none;
       -webkit-user-select: none;
          -moz-user-select: none;
}

.tile_toggle:hover {
  cursor: pointer;
  opacity: 1;
}

.tile_toggle.active {
  opacity: 1;
}