/********************
 * SVG CSS
 ********************/
 
div#viz {
 position: relative;
}

svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
}

/********************
 * Network CSS
 ********************/

#zoom_controls {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 50;
}

#zoom_in, #zoom_out {
  width: 22px;
  height: 22px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  text-align: center;
  background-color: #dddddd;
  margin-bottom: 5px;
  cursor: pointer;
  color: #333333;
  -webkit-text-size-adjust: none;
       -webkit-user-select: none;
          -moz-user-select: none;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

#zoom_in:hover, #zoom_out:hover {
  background-color: #eeeeee;
}

#zoom_in {
  font: bold 18px/24px Arial, Helvetica, sans-serif;
}

#zoom_out {
  font: bold 23px/20px Tahoma, Verdana, sans-serif;
}