/********************
 * SVG CSS
 ********************/
 
div#viz {
 position: relative;
}

svg {
  display: block;
}

/********************
 * Tooltip Styling
 ********************/

div.vizwhiz_tooltip {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  position: absolute;
  z-index: 10001;
}

div.vizwhiz_tooltip_container {
  background-color: #fff;
  padding: 6px;
}

div.vizwhiz_tooltip,
div.vizwhiz_tooltip_arrow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

div.vizwhiz_tooltip_curtain {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
  z-index: 10000;
}

div.vizwhiz_tooltip_body {
  display: inline-block;
  padding-right: 6px;
  z-index: 1;
}

div.vizwhiz_tooltip_header {
/*  -webkit-box-shadow: 0 3px 3px white;
     -moz-box-shadow: 0 3px 3px white;
          box-shadow: 0 3px 3px white;*/
/*  padding-bottom: 6px;*/
  position: relative;
  z-index: 1;
}

div.vizwhiz_tooltip_header > div {
  display: inline-block;
  z-index: 1;
}

div.vizwhiz_tooltip_small div.vizwhiz_tooltip_title {
  font-size: 16px;
  line-height: 17px;
  padding: 3px;
}

div.vizwhiz_tooltip_large div.vizwhiz_tooltip_title {
  font-size: 18px;
  line-height: 20px;
  padding: 6px;
}

div.vizwhiz_tooltip_icon {
  background-position: 50%;
  background-size: 100%;
  margin: 0px 3px 3px 0px;
  z-index: 1;
}

div.vizwhiz_tooltip_small div.vizwhiz_tooltip_icon {
  height: 22px;
  width: 22px;
}

div.vizwhiz_tooltip_large div.vizwhiz_tooltip_icon {
  height: 50px;
  width: 50px;
}

div.vizwhiz_tooltip_title {
  vertical-align: top;
}

div.vizwhiz_tooltip_id {
  font-size: 11px;
  opacity: 0.5;
  position: absolute;
  right: 6px;
  top: 5px;
  vertical-align: top;
}

div.vizwhiz_tooltip_close {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
  font-weight: bold;
  height: 18px;
  line-height: 15px;
  position: absolute;
  right: 16px;
  text-align: center;
  top: -10px;
  width: 18px;
}

div.vizwhiz_tooltip_close:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

div.vizwhiz_tooltip_arrow {
  background-color: #fff;
  bottom: -5px;
  height: 10px;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 10px;
  -webkit-transform: rotate(45deg); 
     -moz-transform: rotate(45deg); 
      -ms-transform: rotate(45deg); 
          transform: rotate(45deg); 
  z-index: -1;
}

div.vizwhiz_tooltip_description {
  font-size: 12px;
  font-weight: normal;
/*  padding-bottom: 6px;*/
}

div.vizwhiz_tooltip_data_container {
  overflow: scroll;
  z-index: -1;
}

div.vizwhiz_tooltip_data_seperator {
  background-color: #ddd;
  display: block;
  height: 1px;
}

div.vizwhiz_tooltip_data_block {
  font-size: 12px;
  padding: 3px 6px;
  position: relative;
}

div.vizwhiz_tooltip_data_value {
  position: absolute;
  right: 6px;
  top: 3px;
}

div.vizwhiz_tooltip_footer {
/*  -webkit-box-shadow: 0 -3px 3px white;
     -moz-box-shadow: 0 -3px 3px white;
          box-shadow: 0 -3px 3px white;*/
  color: #aaa;
  font-size: 10px;
/*  padding-top: 6px;*/
  position: relative;
  text-align: center;
}

div.vizwhiz_tooltip_footer a {
  color: #aaa;
}

div.vizwhiz_tooltip_footer a:hover {
  color: #888;
}

div.vizwhiz_tooltip_html {
  display: inline-block;
  vertical-align: top;
  overflow: scroll;
  padding: 12px;
  position: absolute;
}

/********************
 * Network Tooltip
 ********************/


div.vizwhiz_network_title {
  font-weight: bold;
  margin-bottom: 6px;
  padding-left: 3px;
}

div.vizwhiz_network_connection {
  opacity: 0.75;
  padding: 0px 3px 3px;
}

div.vizwhiz_network_connection:hover {
  cursor: pointer;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  opacity: 1;
}

div.vizwhiz_network_connection_node {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  height: 10px;
  margin-right: 3px;
  width: 10px;
}

div.vizwhiz_network_connection_name {
  color: "#333";
  display: inline;
}

/********************
 * Zoom Controls
 ********************/

#zoom_controls {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 50;
}

#zoom_in, #zoom_out, #zoom_reset {
  background-color: #ffffff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  color: #333333;
  display: block;
  height: 18px;
  margin-bottom: 5px;
  opacity: 0.75;
  text-align: center;
  width: 18px;
  -webkit-text-size-adjust: none;
       -webkit-user-select: none;
          -moz-user-select: none;
}

#zoom_in:hover, #zoom_out:hover, #zoom_reset:hover {
  opacity: 1;
}

#zoom_in {
  cursor: pointer;
  font: normal 18px/20px Arial, Helvetica, sans-serif;
}

#zoom_out {
  cursor: pointer;
  font: normal 22px/16px Tahoma, Verdana, sans-serif;
}

#zoom_reset {
  cursor: pointer;
  font: bold 15px/19px Arial, Helvetica, sans-serif;
}